<div class="ui container">
    <div class="ui secondary pointing menu">
         <!-- routerLink instead of href prevents a total page refresh 
            no network call to server with routerLink attr - only url in browser will change -->
        <a routerLink="/" routerLinkActive="active" class="item">Home</a>
        <a routerLink="/elements" routerLinkActive="active" class="item">Elements</a>
        <a routerLink="/collections" routerLinkActive="active" class="item">Collections</a>
        <a routerLink="/views" routerLinkActive="active" class="item">Views</a>
        <a routerLink="/ui-modules" routerLinkActive="active" class="item">Ui Modules</a>
    </div>
</div>

<div class="ui segment container">
    <!-- router  -->
    <router-outlet></router-outlet>
</div>


